.dvFoto{
    /* position: absolute;
    top: 15%;
    left: 2%; */
    width: 100px;
    height: 140px;
    border: solid 1px rgb(189, 189, 189);
    border-radius: .3rem;
    display: block;
    background-image: url('../assets/icon-photo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.escolher_imagem {
    margin: 5px 0 20px 0;
    width: 100px;
}