/* input {
    height: 2.5rem;
    border: solid 2px #b1aeae;
    border-radius: .8rem;
    outline: none;

}
input:focus {
    height: 2.5rem;
    border: solid 2px #3988ff;
    border-radius: .8rem;

} */

form {
    margin: 20px 0;
}

.modal2 {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: none;
}

.modalContent {
    background-color: #fff;
    margin: 0 auto;
    width: 600px;
    height: 100px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textModal{
    font-weight: bold;
    color: rgb(12, 184, 87);
   
}
.btnModal{
    position: relative;
    top: 21px;
    left: 125px;

}

@media(max-width: 450px){
    .modalContent{
        width: 90vw;
    }

    .btnModal{
        position: absolute;
        top: 15%;
        left: 75%;
        
    }
}